# ==============================================================
# Environment -
# Copie el archivo y asigne la extensión .env 
# Puede modificar según sus crendenciales / preferencias.

# Copy this file with the .env extension.
# Modify if desired.
# =============================================================

# ================= NET CONFIG ================================
LAPTOP_IP=10.4.4.2
VITE_LAPTOP_IP=10.4.4.2
ARDUINO_IP=10.4.4.3

# ========== PORTS ==============================================
DB_PORT=5432
BACKEND_PORT=8000
FRONTEND_PORT=5173
BROKER_MQTT_PORT=1883
BROKER_WS_PORT=9001

# ========== BACKEND - used in Backend ===========================
# About database
DB_HOST=localhost
DB_NAME=smart_home
DB_USER=smarthome_admin
DB_PASS=123A

#Others
JWT_SECRET_KEY=super_secret_key
JWT_ALGORITHM=HS256

# ========== FRONTEND - used in Frontend-mobile ===========================
VITE_BACKEND_PORT=8000 # typed in config.py too 