# ==============================================================
# Environment -
# Copie el archivo y asigne la extensión .env 
# Puede modificar según sus crendenciales / preferencias.

# Copy this file with the .env extension.
# Modify if desired.

# ==============================================================
#IP
#LAPTOP_IP=192.168.0.10
#VITE_LAPTOP_IP=LAPTOP_IP

#PUERTOS
DB_PORT=5432

BACKEND_PORT=8000
VITE_BACKEND_PORT=8000

FRONTEND_PORT=5173

# POSTGRES
DB_HOST=localhost
DB_NAME=smart_home
DB_USER=smarthome_admin
DB_PASS=123A

#BACKEND
JWT_SECRET_KEY=super_secret_key
JWT_ALGORITHM=HS256

# FROTEND
